/* --------------------------------------------------- */
/* ----- Body and other major elements --------------- */
body {
	padding-bottom: 40px;
    background: #eee url(/images/bg_darkgrey.png) repeat;
}
body > .container {  margin-top:80px;  }
.navbar-inner a.brand {  display:none;  }
@media (min-width:1px) and (max-width:979px) {
	body > .container {  margin-top:0px;  }
	.navbar-inner a.brand {  display:inline;  }
}
#divMainMenu #navsearch {  margin-top:8px;  }
.dropdown { z-index: 2; }

/* --------------------------------------------------- */
/* ----- Buttons ------------------------------------- */
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  /* 15px */
  font-weight: 500;
}
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 6px 10px 8px;
  line-height: 22px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #ec7063;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
  background-color: #c44133;
}


div.row#divMedia img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}


/* -------------------------------------------------- */
/* ----- Inputs ------------------------------------- */
textarea,
input[type=password],
input[type=text] {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/* -------------------------------------------------- */
/* ----- Uploadifive -------------------------------- */
.uploadifive-button {
    background-color: #505050;
    background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #505050),
        color-stop(1, #707070)
    );
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #808080;
    color: #FFF;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    text-transform: uppercase;
    width: 100%;
}
.uploadifive-button:hover {
    background-color: #606060;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #606060),
        color-stop(1, #808080)
    );
    background-position: center bottom;
}
.uploadifive-queue-item {
    background-color: #F5F5F5;
    border-bottom: 1px dotted #D5D5D5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 18px Arial, Helvetica, Sans-serif;
    margin-top: 3px;
    padding: 15px;
}
.uploadifive-queue-item .close {
    background: url('/images/uploadifive-cancel.png') 0 0 no-repeat;
    display: block;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadifive-queue-item .filename.success {
    color:#070;
}
.uploadifive-queue-item .filename.warn {
    color:#970;
}
.uploadifive-queue-item .filename.fail {
    color:#700;
}
.uploadifive-queue-item .progress {
    border: 1px solid #D0D0D0;
    height: 3px;
    margin-top: 5px;
    width: 100%;
}
.uploadifive-queue-item .progress-bar {
    background-color: #0072BC;
    height: 3px;
    width: 0;
}
.uploadifive-queue-item:last-child {
    margin-bottom:20px;
}
