/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
@media all { /* ----------- Start Media: All  ------------- */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Body and other major elements ----- */
body {  background:#4d4d4d;  }
#divPageTitle {  display:none;  }
.pageContentWrapper .statline {  text-align:right;  }
.pageContentWrapper .statline > ul, .pageContentWrapper .statline > ul > li {
  list-style:none;
  display:inline;
  margin:0 5px 3px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Widgets ----- */
.ui-datepicker {
  background: white;
  font-size:150%;
  line-height:150%;
  border:solid black 1px;
}
.ui-datepicker-trigger { margin-top:-3px; margin-left:2px; }
.ui-datepicker-next {  float: right;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Navbar ----- */
#divMainMenu .navbar {  margin-top:10px;  }
#divSearchMenu .navbar {  margin-top:5px;  }
.btnCloseSearchResults {  float:right;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- River ----- */
.pageContentWrapper.River #stream {  padding:1px;  }
.pageContentWrapper.River #stream .notice {  color:white;  }
.pageContentWrapper.River #stream-header {  display:none;  }
.pageContentWrapper.River #stream .section {
  position: relative;
  background-color:#fff;
  margin: 15px 0;
  padding:0 0 0 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.River #stream .section > .article.fulltext {
  white-space: pre-line;
}
.pageContentWrapper.River #stream .section .article .bodypic {
  clear:both;
  display:block;
  margin:13px auto 10px;
  max-width:222px;
}
.pageContentWrapper.River #stream .section .encpicture {
  clear:both;
  display:block;
  margin:13px auto 10px;
  max-width: 222px;
}
.pageContentWrapper.River #stream .section .riverminitar { 
  float:right;
  max-height:32px;
  margin:8px;
}
.pageContentWrapper.River #stream .section .article .bodyvid,.encvideo {
  clear:both;
  display:block;
  margin:13px auto 10px;
  width:222px;
}
.pageContentWrapper.River #stream .section > .header {
  padding:10px 10px 5px;
  background-color:#eee;
  border-bottom:solid #ddd 1px;  
}
.pageContentWrapper.River #stream .section > .header .header-tools {  display:none;  }
.pageContentWrapper.River #stream .section > .article {
  padding:10px;
  word-wrap:break-word;
  word-break:hyphenate;
}
.pageContentWrapper.River #stream .section > .sticky:nth-of-type(2) {
  background:transparent url('/images/sticky_bg.png') top left repeat-x;
}
.pageContentWrapper.River #stream .section > .article .aUnSticky {  float:right;  }
.pageContentWrapper.River #stream .section > .article .header {  font-size:150%;  }
.pageContentWrapper.River #stream .section > .article .footer {  margin:0;  }
.pageContentWrapper.River #stream .section > .article .footer .actions {
  clear:both;
  display:block;
}
.pageContentWrapper.River #stream .section > .article .footer .actions img {
  float:right;
  padding:5px;
}
.pageContentWrapper.River #stream .section > .article .footer .actions button {
  float:right;
  padding:5px;
}
.pageContentWrapper.River #stream .section > .article .footer .time {  float:left; }
.pageContentWrapper.River #stream .section > .article .footclear {  clear:both;  }
.pageContentWrapper.River #header h2 {  display:none;  }
.pageContentWrapper.River #stream-header {  margin-bottom:10px;  }
.pageContentWrapper.River #stream-updated {  float:none; margin:0 0 10px;  }
.pageContentWrapper.River #stream-view {  float:none; margin:0 0 10px;  }
.pageContentWrapper.River #footer p {  font-size:0.6875em;  }
.pageContentWrapper.River #stream .section {  margin-top:1em;  }
.pageContentWrapper.River #stream .section .header h2 {  float:none; margin-top:0;  }
.pageContentWrapper.River #stream .section .header .time {  float:none; padding:0; margin-top:0;  }
.pageContentWrapper.River #stream .article h3 {  font-size:0.875em;  }
.pageContentWrapper.River #stream .article .description {  font-size:0.8125em;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Show Article ----- */
.pageContentWrapper.Articles #divPageArticle {
  position: relative;
  *padding-top: 19px;
  background-color: #FBF0D9;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Articles #divPageArticle #article {
  font-family: Georgia, sans-serif;
  font-size: 130%;
  line-height: 150%;
  background-color: #FBF0D9;
  color: #5F4B32;
  padding: 15px;
  padding-top: 10px;
}
.pageContentWrapper.Articles #divPageArticle #article #content img {  max-width:250px;  }
.pageContentWrapper.Articles #divPageArticle #article #content iframe {  max-width:250px;  }
.pageContentWrapper.Articles #divPageArticle #article #content object {  max-width:250px;  }
.pageContentWrapper.Articles #divPageArticle #article #content embed {  max-width:250px;  }
.pageContentWrapper.Articles #divPageArticle #article #content .bodyvid {  max-width:250px;  }
.pageContentWrapper.Articles #divPageArticle #article .footer {  border-top:solid #ddd 1px;  }
.pageContentWrapper.Articles #divPageArticle #article .footer .divToolBox {
  text-align:center;
  margin:10px auto 10px;
}
.pageContentWrapper.Articles #divPageArticle #article .footer .divToolBox .opml {  display:none;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Microblog ----- */
.pageContentWrapper.Microblog #divBlogPost {
  position: relative;
  padding:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divBlogPost #divPostIt {  float:right;  }
.pageContentWrapper.Microblog #divBlogPost #divPostSubmit #chkTweet {  display:none;  }
.pageContentWrapper.Microblog #divBlogPost #divPostText #txtContent {
  font-size:150%;
  margin-top:10px;
  width:97%;
  height:130px;
}
.pageContentWrapper.Microblog #divBlogPost #divEnclosures {  display:none;  }
.pageContentWrapper.Microblog #divBlogPost #divUpload {  display:none;  }
.pageContentWrapper.Microblog #divPostList {
  position: relative;
  margin-top:10px;
  padding:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divPostList ul {  list-style:none;  }
.pageContentWrapper.Microblog #divPostList li {  padding:10px 7px 10px;  }
.pageContentWrapper.Microblog #divPostList li:hover {  background-color:#ddd;  }
.pageContentWrapper.Microblog #divPostList li .spnPostControls {  float:right; }
.pageContentWrapper.Microblog #divPostList li .spnPostTitle {
  font-weight:bold;
  font-size:120%;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Articles ----- */
.pageContentWrapper.Articles #date-line {
  display:none;
  position: relative;
  text-align:right;
  padding:10px 10px 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Articles #date-line .divDateSelect {  float:right;  }
.pageContentWrapper.Articles #date-line .txtDatePicker {
  width:80px;
  margin:5px 2px 5px;
}
.pageContentWrapper.Articles #date-line #btnSubmitDates {
  float:left;
  min-width:50px;
  min-height:50px;
}
.pageContentWrapper.Articles #divArticles {
  position:relative;
  clear:both;
  margin-top:10px;
  padding:10px;
  *padding-top:19px;
  background-color:#fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Articles #divArticles ul {  list-style:none;  }
.pageContentWrapper.Articles #divArticles ul li {  margin:5px auto 15px;;  }
.pageContentWrapper.Articles #divArticles ul li input {  display:none;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Subscribe ----- */
.pageContentWrapper.Subscribe #divSubscribe {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Subscribe #divSubscribe #txtSubscribeUrl {
  width:97%;
  background:#fff;
}
.pageContentWrapper.Subscribe #divSubscribePeople {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Subscribe #divSubscriptions {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Subscribe #divSubscribePeople a {  color:#ddd;  }
.pageContentWrapper.Subscribe #divSubscribePeople .person {
  color:white;
  float:left;
  display:inline-block;
  background:#777;
  text-shadow:0 1px 0 #555;
  margin:8px;
  border:solid #abc 2px;
  -webkit-box-shadow: 0 0 3px 3px #333;
     -moz-box-shadow: 0 0 3px 3px #333;
          box-shadow: 0 0 3px 3px #333;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person ul li img.icon-warning {  display:inline;  }
.pageContentWrapper.Subscribe #divSubscribePeople .person ul li a.aFeedRaw {  display:inline;  }
.pageContentWrapper.Subscribe #divSubscribePeople .person ul li span.feed-properties {
  display:inline-block;
  float:right;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person ul.personList li {
  clear:both;
  margin:3px 0 0;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person ul.personList {
  margin-top:12px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .personcaption-block {
  display:block;
}
.pageContentWrapper.Subscribe #divSubscribePeople .personcaption-inline {
  display:inline;
}
.pageContentWrapper.Subscribe #divSubscribePeople .smallPerson {
  width:96px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .smallPerson .personimg {
  width:96px;
  height:96px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .bigPerson {
  width:95%;
  max-width:280px
}
.pageContentWrapper.Subscribe #divSubscribePeople .bigPerson .personimg {
  width:48px;
  height:48px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .bigPerson .feed-title {
  display:inline-block;
  width:70%;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person .persondrop {
  display:none;
  float:right;
  padding:5px;
}
.pageContentWrapper.Subscribe .nooverflow {
  margin:3px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  word-wrap:nowrap;
}
.pageContentWrapper.Subscribe .liManagedList {
  background:#777;
  border:solid black 1px;
  margin:3px;
  color:black;
  font-size:110%;
  min-height:40px;
}
.pageContentWrapper.Subscribe #divSubscriptions .liManagedList a { color:white; }
.pageContentWrapper.Subscribe #divSubscriptions .liManagedList .ulListFeeds {
  font-size:80%;
}
.pageContentWrapper.Subscribe #divSubscriptions .listdrop {
  display:none;
  float:right;
  padding:5px;
}
.pageContentWrapper.Subscribe #divSubscriptions .ulFeedsIFollow li a {
  display:inline-block;
  width:70%;
}
.pageContentWrapper.Subscribe .feedproperties {
  display:inline-block;
  max-width:50px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Feed Finder ----- */
.pageContentWrapper.Subscribe #divFeedFinder {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Admin:User ----- */
.pageContentWrapper.Admin-user #divAdmin #divUserCreate {
  position: relative;
  padding:10px 10px 0px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Admin-user #divAdmin #divUserCreate .divCreateEmail input {
  width:96%;
  min-width:222px;
}
.pageContentWrapper.Admin-user #divAdmin #divUserCreate .divCreateSubmit {
  text-align:right;
}
.pageContentWrapper.Admin-user #divAdmin #divUserManage {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Admin-user #divAdmin #divUserManage .trEditUser {  display:none;  }
.pageContentWrapper.Admin-user #divAdmin #divUserManage .minitar {
  margin:5px;
  max-width:32px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Admin:Feeds ----- */
.pageContentWrapper.Admin-feed #divAdmin #divFeedAdmin {
  position: relative;
  padding:10px 10px 0px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Wizard ----- */
.pageContentWrapper.Wizard {  margin-top:10px; }
.pageContentWrapper.Wizard #divNewUser1 {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Wizard #divNewUser2 {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Error ----- */
.pageContentWrapper.Error {  margin-top:10px; }
.pageContentWrapper.Error #divErrorPage {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Prefs ----- */
.pageContentWrapper.Prefs #divPrefs #divBookmarklets {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Prefs #divPrefs #divSetpw {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Prefs #divPrefs #divSetpw ul {  list-style: none;  }
.pageContentWrapper.Prefs #divPrefs #divSetpw input.urlinput {  width: 95%;  }
.pageContentWrapper.Prefs #divPrefs #divSetpw #btnPwdSubmit {  float:none;  }
.pageContentWrapper.Prefs #divPrefs #divSetpw .buttonline {  text-align: right;  }
.pageContentWrapper.Prefs #divPrefs .divPrefPane {
  position: relative;
  padding:10px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Prefs #divPrefs input.urlinput {  width:95%;  }
/* --------------------------------------------------- */


/* ---------------------------------------------------------------------- */
} /* ----------- End Media: All  ---------------------------------------- */
/* ---------------------------------------------------------------------- */
