/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
@media (min-width:767px) { /* ----------- Start Media: Portrait  -------- */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */


/* --------------------------------------------------- */
/* ----- Fonts --------------------------------------- */
@font-face {
    font-family: 'CreteRoundItalic';
    src: url('/style/CreteRound-Italic-webfont.eot');
    src: url('/style/CreteRound-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/style/CreteRound-Italic-webfont.woff') format('woff'),
         url('/style/CreteRound-Italic-webfont.ttf') format('truetype'),
         url('/style/CreteRound-Italic-webfont.svg#CreteRoundItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CreteRoundRegular';
    src: url('/style/CreteRound-Regular-webfont.eot');
    src: url('/style/CreteRound-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/style/CreteRound-Regular-webfont.woff') format('woff'),
         url('/style/CreteRound-Regular-webfont.ttf') format('truetype'),
         url('/style/CreteRound-Regular-webfont.svg#CreteRoundRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* --------------------------------------------------- */


/* --------------------------------------------------- */
/* ----- Body and other major elements ----- */
body {
  background:#4d4d4d url(../images/bg-body.jpg) repeat top left;
}
#divPageTitle {  display:none;  }
.pageContentWrapper .statline {  text-align:right;  }
.pageContentWrapper .statline > ul, .pageContentWrapper .statline > ul > li {
  list-style:none;
  display:inline;
  margin:0 5px 3px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Widgets ----- */
.ui-datepicker {
  background: white;
  font-size:150%;
  line-height:150%;
  border:solid black 1px;
}
.ui-datepicker-trigger { margin-top:-3px; margin-left:2px; }
.ui-datepicker-next {  float: right;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Modals ----- */
/* ----- Show Article modal ----- */
#mdlShowArticle {
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin: 0;
  background-color: #FBF0D9;
  color: #5F4B32;
  padding: 15px;
}
#mdlShowArticle .modal-header {
  border-bottom:solid #ccc 1px;
  min-height:30px;
  max-height:22%;
}
#mdlShowArticle .modal-header .artitle {
  background-color: #FBF0D9;
  font-family: "CreteRoundRegular", serif;
  color: #5F4B32;
}
#mdlShowArticle .modal-body .arbody,
#mdlShowArticle .modal-body .arbody p {
  background-color: #FBF0D9;
  font-family: "CreteRoundRegular", serif;
  font-size: 110%;
  line-height: 120%;
  word-spacing: 0.02em;
  letter-spacing: 0.02em;
  color: #5F4B32;
}
#mdlShowArticle .modal-body .arbody p {
  margin-bottom:1.5em;
}
#mdlShowArticle .modal-footer {
  background-color: #FBF0D9;
  border-top:solid #ccc 1px;
  max-height:40px;
}
#mdlShowArticle .modal-body .arbody img {
  float:left;
  margin:8px;
  max-width:40%;
}
/* ----- Social Outline View modal ----- */
#mdlSocialOutlineView {
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin: 0;
  padding: 15px;
  background-color: #FBF0D9;
  color: #5F4B32;
}
#mdlSocialOutlineView .soavatar {
  max-width:64px;
  max-height:64px;
  margin-right:10px;
}
#mdlSocialOutlineView .sofeedblock {
  float:left;
}
#mdlSocialOutlineView .sopubfeeds {
  list-style:none;
}
#mdlSocialOutlineView .sonameblock {
  float:left;
}
#mdlSocialOutlineView .modal-footer {
  clear:both;
  max-height:20px;
  background-color: #FBF0D9;
  color: #5F4B32;
}
#mdlSocialOutlineView .soserver {
  float:left;
}
#mdlSocialOutlineView .sosubscribe {
  float:right;
}
#mdlSocialOutlineView .soactivity {
  clear:both;
  border-top: solid #ddd 1px;
  margin:10px auto 10px;
}
/* ----- Microblog Post modal ----- */
#mdlMicroblogPost {
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin: 0;
  padding: 15px;
  background-color: #FBF0D9;
  color: #5F4B32;
}
#mdlMicroblogPost .modal-body {
  overflow-x:hidden;
}
#mdlMicroblogPost .modal-body .bpdescription textarea {
  font-size:140%;
  line-height:150%;
  width:630px;
  height:160px;
}
#mdlMicroblogPost .modal-body .bptitle input,
#mdlMicroblogPost .modal-body .bplink input
{
  width:500px;
}
#mdlMicroblogPost .modal-body .bpextenc {
  margin-top:20px;
}
#mdlMicroblogPost .modal-body .bpextenc ul {
  padding-top:5px;
  list-style:none;
  margin-left:0;
}
#mdlMicroblogPost .modal-body .bpextenc ul li {
  padding:10px 8px 10px;
  margin:0 0 5px;
  min-height:66px;
  background-color: #ccc;
  border: 1px dashed #aaa;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#mdlMicroblogPost .modal-body .bpextenc ul li input {
  width:70%;
  margin-top:17px;
}
#mdlMicroblogPost .modal-body .bpextenc .imgenclosure {
  float:right;
  margin-right:10px;
  height:64px;
}
#mdlMicroblogPost .modal-body #divEnclosures #spnQueueText {
  display:inline-block;
  margin:10px auto 20px;
}
#mdlMicroblogPost .modal-body #divEnclosures.dropzone {
  display:none;
  background:#eee;
  text-align:center;
  padding:10px;
  min-height:60px;
  border:dashed #ccc 4px;  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#mdlMicroblogPost .modal-body #divUpload {  display:none;  }
#mdlMicroblogPost .modal-body #divUpload {
  text-align:center;
  line-height:40px;
}
#mdlMicroblogPost .modal-body #divUpload .uploadifive-button {
  display:inline;
  padding:5px;
  border:solid black 1px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background: #b8c6df; /* Old browsers */
  background: -moz-linear-gradient(top,  #b8c6df 0%, #6d88b7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#6d88b7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b8c6df 0%,#6d88b7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b8c6df 0%,#6d88b7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b8c6df 0%,#6d88b7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b8c6df 0%,#6d88b7 100%); /* W3C */
}
#mdlMicroblogPost .modal-body #divUpload #aUploadTrigger {
  padding:5px;
  color:black;
  border:solid black 1px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background: #c9de96; /* Old browsers */
  background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
}
#mdlMicroblogPost .modal-body #btnAttachFile {
  float:right;
  margin:8px;
}
#mdlMicroblogPost .modal-body #divEnclosures #queue {
    width:100%;        
    min-height: 50px;
    overflow: auto;
    padding: 3px;
}
#mdlMicroblogPost .modal-body #divEnclosures #queue .uploadifive-queue-item {
  min-height:66px;  
  padding:10px 8px 10px;
  margin:0 0 5px;
  background-color: #ccc;
  text-align:left;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#mdlMicroblogPost .modal-footer {
  clear:both;
  max-height:20px;
  background-color: #FBF0D9;
  color: #5F4B32;
}
#mdlMicroblogPost .modal-body div#queue .imgenclosure {
  float:right;
  margin-right:10px;
  height:64px;
}

/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Navbar ----- */
#divMainMenu .navbar {  margin-top:10px;  }
#divSearchMenu .navbar {  margin-top:5px;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- River ----- */
.pageContentWrapper.River #stream-sidebar-left {  display:none;  }
.pageContentWrapper.River #stream {  padding:1px;  }
.pageContentWrapper.River #stream .notice {  color:white;  }
.pageContentWrapper.River #stream-header {  display:none;  }
.pageContentWrapper.River #stream .section {
  position: relative;
  background-color:#fff;
  margin: 15px 0;
  padding:0 0 0 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.River #stream .section > .article.fulltext {
  white-space: pre-line;
}
.pageContentWrapper.River #stream .section .article .bodypic {
  clear:both;
  display:block;
  margin:20px auto 10px;
  max-width:500px;
}
.pageContentWrapper.River #stream .section .enclosureview {
  text-align:center;
}
.pageContentWrapper.River #stream .section .encpicture {
  clear:both;
  display:block;
  margin:20px auto 10px;
  max-width: 500px;
}
.pageContentWrapper.River #stream .section .encpicture2 {
  display:inline-block;
  margin:20px auto 10px;
  max-width: 49%;
}
.pageContentWrapper.River #stream .section .encpicture3 {
  display:inline-block;
  margin:20px auto 10px;
  max-width: 29%;
}
.pageContentWrapper.River #stream .section .encpicture4 {
  display:inline-block;
  margin:20px auto 10px;
  max-width: 24%;
}
.pageContentWrapper.River #stream .section .encpictures {
  display:inline-block;
  margin:20px auto 10px;
  max-width: 100px;
}
.pageContentWrapper.River #stream .section .riverminitar { 
  float:right;
  max-height:64px;
  max-width:64px;
  margin:8px;
}
.pageContentWrapper.River #stream .section .bodyvid,
.pageContentWrapper.River #stream .section .enciframe {
  clear:both;
  display:block;
  margin:20px auto 10px;
  width:500px;
  height:300px;
}
.pageContentWrapper.River #stream .section .article .encvideo {
  clear:both;
  display:block;
  margin:20px auto 10px;
  width:500px;
  height:300px;
}
.pageContentWrapper.River #stream .section > .header {
  padding:10px 10px 5px;
  background-color:#eee;
  border-bottom:solid #ddd 1px;  
}
.pageContentWrapper.River #stream .section > .header .header-tools {  display:none;  }
.pageContentWrapper.River #stream .section > .article {
  padding:10px;
  word-wrap:break-word;
  word-break:hyphenate;
}
.pageContentWrapper.River #stream .section > .sticky:nth-of-type(2) {
  background:transparent url('/images/sticky_bg.png') top left repeat-x;
}
.pageContentWrapper.River #stream .section > .article .aUnSticky {  float:right;  }
.pageContentWrapper.River #stream .section > .article .header {  font-size:150%;  }
.pageContentWrapper.River #stream .section > .article .footer {  margin:40px 0 0;  }
.pageContentWrapper.River #stream .section > .article .footer .actions {
  clear:both;
  display:block;
}
.pageContentWrapper.River #stream .section > .article .footer .actions img {
  float:right;
  padding:5px;
}
.pageContentWrapper.River #stream .section > .article .footer .actions button {
  float:right;
  padding:5px;
}
.pageContentWrapper.River #stream .section > .article .footer .time {  float:left; }
.pageContentWrapper.River #stream .section > .article .footclear {  clear:both;  }
.pageContentWrapper.River #header h2 {  display:none;  }
.pageContentWrapper.River #stream-header {  margin-bottom:10px;  }
.pageContentWrapper.River #stream-updated {  float:none; margin:0 0 10px;  }
.pageContentWrapper.River #stream-view {  float:none; margin:0 0 10px;  }
.pageContentWrapper.River #footer p {  font-size:0.6875em;  }
.pageContentWrapper.River #stream .section {  margin-top:1em;  }
.pageContentWrapper.River #stream .section .header h2 {  float:none; margin-top:0;  }
.pageContentWrapper.River #stream .section .header .time {  float:none; padding:0; margin-top:0;  }
.pageContentWrapper.River #stream .article h3 {  font-size:0.875em;  }
.pageContentWrapper.River #stream .article .description {  font-size:0.8125em;  }
.pageContentWrapper.River #stream .section .article .byline {
  font-size: 80%;
  margin-bottom:15px;
  padding-bottom:8px;
}
/* sub-items */
.pageContentWrapper.River #stream .section .rivermicrotar { 
  float:right;
  max-height:48px;
  max-width:48px;
  margin:4px 8px 8px;
}
.pageContentWrapper.River #stream .section .subitem { 
  text-align:right;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Show Article ----- */
.pageContentWrapper.Articles #divPageArticle {
  position: relative;
  *padding-top: 19px;
  background-color: #FBF0D9;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.River #mdlShowArticle,
.pageContentWrapper.River #mdlShowArticle .modal-header,
.pageContentWrapper.River #mdlShowArticle .modal-body,
.pageContentWrapper.River #mdlShowArticle .modal-footer,
.pageContentWrapper.Articles #divPageArticle #article {
  font-family: "CreteRoundRegular", serif;
  font-size: 130%;
  line-height: 150%;
  background-color: #FBF0D9;
  color: #5F4B32;
  padding: 15px;
  padding-top: 10px;
}
.pageContentWrapper.Articles #divPageArticle #article #source {
  font-size:80%;
  text-align:right;
  border-bottom:solid grey 1px;
  margin-bottom:10px;
}
.pageContentWrapper.Articles #divPageArticle #article #headline {
  margin-bottom:20px;
}
.pageContentWrapper.Articles #divPageArticle #article #content p {
  font-family: "CreteRoundRegular", serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
.pageContentWrapper.Articles #divPageArticle #article #headline {  font-size:80%; margin-bottom:20px;  }
.pageContentWrapper.Articles #divPageArticle #article #content img {  max-width:500px;  }
.pageContentWrapper.Articles #divPageArticle #article #content iframe {  max-width:500px;  }
.pageContentWrapper.Articles #divPageArticle #article #content object {  max-width:500px;  }
.pageContentWrapper.Articles #divPageArticle #article #content embed {  max-width:500px;  }
.pageContentWrapper.Articles #divPageArticle #article #content .bodyvid {  max-width:500px;  }
.pageContentWrapper.Articles #divPageArticle #article .footer {  border-top:solid #ddd 1px;  }
.pageContentWrapper.Articles #divPageArticle #article .footer .divToolBox {
  text-align:center;
  margin:10px auto 10px;
}
.pageContentWrapper.Articles #divPageArticle #article .footer .divToolBox .opml {  display:none;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Microblog ----- */
.pageContentWrapper.Microblog #divBlogPost {
  position: relative;
  padding:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divBlogPost ul {  list-style:none; margin-left:0;  }
.pageContentWrapper.Microblog #divBlogPost ul li {  background-color:#eee;  }
.pageContentWrapper.Microblog #divBlogPost #divPostIt {  float:right;  }
.pageContentWrapper.Microblog #divBlogPost #divPostSubmit #chkTweet {  display:none;  }
.pageContentWrapper.Microblog #divBlogPost #divPostText #txtContent {
  font-size:150%;
  line-height:120%;
  margin-top:10px;
  width:97%;
  height:130px;
}
.pageContentWrapper.Microblog #divPostList {
  position: relative;
  margin-top:10px;
  padding:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divPostList ul {  list-style:none;  }
.pageContentWrapper.Microblog #divPostList li {  padding:10px 0 10px;  }
.pageContentWrapper.Microblog #divPostList li:hover {  background-color:#ddd;  }
.pageContentWrapper.Microblog #divPostList li .spnPostControls {  float:right; }
.pageContentWrapper.Microblog #divPostList li .spnPostTitle {
  font-weight:bold;
  font-size:120%;
}

/* ----- File/Enclosure Stuff ----- */
.pageContentWrapper.Microblog #divBlogPost #fileMobile {
  height:50px;
  width:100%;
}
.pageContentWrapper.Microblog #divBlogPost #divEnclosures #spnQueueText {
  display:none;
  display:inline-block;
  margin:10px auto 20px;
}
.pageContentWrapper.Microblog #divBlogPost #divEnclosures {
  display:none;
  background:#eee;
  text-align:center;
  padding:10px;
  min-height:60px;
  border:dashed #ccc 4px;  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divBlogPost #divUpload {  display:none;  }
.pageContentWrapper.Microblog #divBlogPost #divExtEnclosures ul li {
  padding:10px 8px 10px;
  margin:0 0 5px;
  min-height:66px;
  background-color: #ccc;
  border: 1px dashed #aaa;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divBlogPost #divExtEnclosures ul li input {
  width:70%;
}
.pageContentWrapper.Microblog #divBlogPost #divRtSource ul li {
  padding:10px 8px 10px;
  margin:0 0 5px;
  background-color: #ccc;
  border: 1px dashed #aaa;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Microblog #divBlogPost #divRtSource ul li input {
  width:70%;
}
.pageContentWrapper.Microblog #divBlogPost #divExtEnclosures .imgenclosure {
  float:right;
  height:64px;
}
.pageContentWrapper.Microblog #divBlogPost #divUpload,#divExtEnclosures,#divRtSource {
  padding-top:5px;
  margin-top:5px;
}
.pageContentWrapper.Microblog #divBlogPost #divUpload {
  text-align:center;
  line-height:40px;
}
.pageContentWrapper.Microblog #divBlogPost #divUpload #aUploadTrigger {
  padding:5px;
  color:black;
  border:solid black 1px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background: #c9de96; /* Old browsers */
  background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
}
.pageContentWrapper.Microblog #divBlogPost #btnAttachFile {
  float:right;
  margin:8px;
}
.pageContentWrapper.Microblog #divBlogPost #divEnclosures #queue {
    width:100%;        
    min-height: 50px;
    overflow: auto;
    padding: 3px;
}
.pageContentWrapper.Microblog #divBlogPost #divEnclosures #queue .uploadifive-queue-item {
  padding:10px 8px 10px;
  margin:0 0 5px;
  background-color: #ccc;
  text-align:left;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* ----------------------------------------------------------------------- testing ----------------------------------------------------------------------------- */
.pageContentWrapper.Microblog #divBlogPost input,textarea {
  font-family: "CreteRoundRegular", serif;
}
.pageContentWrapper.Microblog #divBlogPost #divPostIt input {  font-size:120%;  }
#divPostList .noposts {
  position: relative;
  margin-top:10px;
  padding:20px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#divPostList {  margin-top:20px;  }
.postList {  margin:0 auto;  }
.postList .postItem {
  float:left;
  margin:10px;
  width:310px;
  font-family: "CreteRoundRegular", serif;
  font-size: 130%;
  line-height: 130%;
}
.postList .postItemComplex {
  width:680px;
}
.postList .postItem img {
  margin:0 auto;
  max-width:100%;
}
.postList .postItem a {
  font-size:80%;
  color:#003;
}
.postList .postItem .spnPostControls {
  float:left;
}
.postList .postItem .divPostListEnclosures {
  text-align:center;
  margin-top:8px;
  padding-top:8px;
}
.postList .postItem .divPostListEnclosures .download {
  font-size:80%;
  display:block;
}
.postList .postItem .divPostListEnclosures img {
  display:inline-block;
}
.postList .postItem .divPostContent {
  position: relative;
  margin-top:10px;
  padding:20px;
  *padding-top: 19px;
  white-space: pre-line;
}
.postList .postItem .postFooter {
  border-top:solid #ccc 1px;
  font-size:70%;
  margin-top:8px;
  padding-top:8px;
}
.postList .postItem .postControls {
  float:left;
}
.postList .postItem .postDate {
  float:right;
}
/* ----------------------------------------------------------------------- testing ----------------------------------------------------------------------------- */

/* --------------------------------------------------- */


/* --------------------------------------------------- */
/* ----- Articles ----- */
.pageContentWrapper.Articles #date-line {
  position: relative;
  text-align:right;
  padding:10px 10px 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Articles #date-line .divDateSelect {  float:right;  }
.pageContentWrapper.Articles #date-line .txtDatePicker {
  width:80px;
  margin:5px 2px 5px;
}
.pageContentWrapper.Articles #date-line #btnSubmitDates {
  float:left;
  min-width:50px;
  min-height:50px;
}
.pageContentWrapper.Articles #divArticles {
  position:relative;
  clear:both;
  margin-top:10px;
  padding:20px;
  *padding-top:19px;
  background-color:#fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Articles #divArticles ul {  list-style:none;  }
.pageContentWrapper.Articles #divArticles ul li {  margin:5px auto 15px;;  }
.pageContentWrapper.Articles #divArticles ul li input {  display:none;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Subscribe ----- */
.pageContentWrapper.Subscribe #divSubscribe {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Subscribe #divSubscribe #txtSubscribeUrl {
  width:97%;
  background:#fff;
}
.pageContentWrapper.Subscribe #divSubscribePeople {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Subscribe #divSubscriptions {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Subscribe #divSubscribePeople a {  color:#ddd;  }
.pageContentWrapper.Subscribe #divSubscribePeople .person {
  color:white;
  float:left;
  display:inline-block;
  background:#777;
  text-shadow:0 1px 0 #555;
  margin:8px;
  border:solid #abc 2px;
  -webkit-box-shadow: 0 0 3px 3px #333;
     -moz-box-shadow: 0 0 3px 3px #333;
          box-shadow: 0 0 3px 3px #333;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person ul li img.icon-warning {  display:inline;  }
.pageContentWrapper.Subscribe #divSubscribePeople .person ul li a.aFeedRaw {  display:inline;  }
.pageContentWrapper.Subscribe #divSubscribePeople .person ul li span.feed-properties {
  display:inline-block;
  float:right;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person ul.personList li {
  clear:both;
  margin:3px 0 0;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person ul.personList {
  margin-top:12px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .personcaption-block {
  display:block;
}
.pageContentWrapper.Subscribe #divSubscribePeople .personcaption-inline {
  display:inline;
}
.pageContentWrapper.Subscribe #divSubscribePeople .smallPerson {
  width:96px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .smallPerson .personimg {
  width:96px;
  height:96px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .bigPerson {
  width:95%;
  max-width:280px
}
.pageContentWrapper.Subscribe #divSubscribePeople .bigPerson .personimg {
  width:48px;
  height:48px;
}
.pageContentWrapper.Subscribe #divSubscribePeople .bigPerson .feed-title {
  display:inline-block;
  width:70%;
}
.pageContentWrapper.Subscribe #divSubscribePeople .person .persondrop {
  display:none;
  float:right;
  padding:5px;
}
.pageContentWrapper.Subscribe .nooverflow {
  margin:3px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  word-wrap:nowrap;
}
.pageContentWrapper.Subscribe .liManagedList {
  background:#777;
  border:solid black 1px;
  margin:3px;
  color:black;
  font-size:110%;
  min-height:40px;
}
.pageContentWrapper.Subscribe #divSubscriptions .liManagedList a { color:white; }
.pageContentWrapper.Subscribe #divSubscriptions .liManagedList .ulListFeeds {
  font-size:80%;
}
.pageContentWrapper.Subscribe #divSubscriptions .listdrop {
  display:none;
  float:right;
  padding:5px;
}
.pageContentWrapper.Subscribe #divSubscriptions .ulFeedsIFollow li a {
  display:inline-block;
  width:85%;
}
.pageContentWrapper.Subscribe .feedproperties {
  display:inline-block;
  max-width:50px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Feed Finder ----- */
.pageContentWrapper.Subscribe #divFeedFinder {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Admin:User ----- */
.pageContentWrapper.Admin-user #divAdmin #divUserCreate {
  position: relative;
  padding:20px 20px 0px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Admin-user #divAdmin #divUserCreate .divCreateEmail input {
  width:96%;
  min-width:500px;
}
.pageContentWrapper.Admin-user #divAdmin #divUserCreate .divCreateSubmit {
  margin:10px;
  text-align:right;
}
.pageContentWrapper.Admin-user #divAdmin #divUserManage {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Admin-user #divAdmin #divUserManage .trEditUser {  display:none;  }
.pageContentWrapper.Admin-user #divAdmin #divUserManage .minitar {
  margin:5px;
  max-width:32px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Admin:Feeds ----- */
.pageContentWrapper.Admin-feed #divAdmin #divFeedAdmin {
  position: relative;
  padding:10px 10px 0px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Wizard ----- */
.pageContentWrapper.Wizard {  margin-top:10px; }
.pageContentWrapper.Wizard #divNewUser1 {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Wizard #divNewUser2 {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Error ----- */
.pageContentWrapper.Error {  margin-top:10px; }
.pageContentWrapper.Error #divErrorPage {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Prefs ----- */
.pageContentWrapper.Prefs #divPrefs #divBookmarklets {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Prefs #divPrefs #divSetpw {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Prefs #divPrefs #divSetpw ul {  list-style: none;  }
.pageContentWrapper.Prefs #divPrefs #divSetpw input.urlinput {  width: 95%;  }
.pageContentWrapper.Prefs #divPrefs #divSetpw #btnPwdSubmit {  float:none;  }
.pageContentWrapper.Prefs #divPrefs #divSetpw .buttonline {  text-align: right;  }
.pageContentWrapper.Prefs #divPrefs .divPrefPane {
  position: relative;
  padding:20px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Prefs #divPrefs input.urlinput {  width:95%;  }
/* --------------------------------------------------- */


/* --------------------------------------------------------- */
} /* ---------------- End Media: Portrait  ----------------- */
/* --------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
@media (min-width:1023px) { /* ---------- Start Media: Landscape --------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */


/* --------------------------------------------------- */
/* ----- Body and other major elements ----- */
.pageContentWrapper {  margin-top:20px;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Navbar ----- */
#divMainMenu .navbar {  margin:0;  }
#divMainMenu .navbar-inner {  padding:0;  }
#divMainMenu .navbar .brand {  display:none;  }
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- River ----- */
.pageContentWrapper.River #stream-sidebar-left {
  display:block;
  max-width:200px;
}
.pageContentWrapper.River #stream-sidebar-left #divMe {
  position: relative;
  padding:10px 10px 0px;
  margin:14px 0 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.River #stream {
  max-width:700px;
  float:right;
}
.pageContentWrapper.River #stream-sidebar-left #divMe #divSaySomething {
  margin-top:15px;
  border-bottom:solid #ddd 1px;
}
.pageContentWrapper.River #stream-sidebar-left #divMe .quickTweet { float:right; text-align:right; }

.pageContentWrapper.River #stream-sidebar-left #divMe #divMicroblogWidget div p {
  display:none;
}
.pageContentWrapper.River #stream-sidebar-left #divMe #divMicroblogWidget ul {
  margin:0;
  padding:0;
  list-style-type:none;
  width:200px;
}
.pageContentWrapper.River #stream-sidebar-left #divMe #divMicroblogWidget li {
  border-left:solid #ddd 3px;
  padding-left:3px;
  margin-bottom:8px;
  word-wrap:break-word;
}
.pageContentWrapper.River #stream-sidebar-left #divMe #divMicroblogWidget li.tweeted {
  background:url('/images/glyph/glyphicons_391_twitter_16x16.png') no-repeat left top;
  background-position: 0.2em 0.3em;
  padding-left:22px;
  min-height:24px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Articles ----- */
.pageContentWrapper.Articles #date-line {
  display:inline-block;
  float:right;
  max-width:200px;
  text-align:right;
  padding:10px 10px 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pageContentWrapper.Articles #date-line #btnSubmitDates {
  clear:both; 
  float:right;
  margin-top:10px;
}
.pageContentWrapper.Articles #divArticles {
  display:inline-block;
  max-width:700px;
  margin-top:0;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Subscribe ----- */
.pageContentWrapper.Subscribe #divSubscriptions .ulFeedsIFollow li a {
  display:inline-block;
  width:60%;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* ----- Admin:Feeds ----- */
.pageContentWrapper.Admin-feed #divAdmin #divFeedAdmin {
  position: relative;
  padding:20px 20px 0px;
  margin-bottom:10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* --------------------------------------------------- */


/* ---------------------------------------------------------- */
} /* ---------------- End Media: Landscape ------------------ */
/* ---------------------------------------------------------- */
