.aPreauthLogout {  float:right;  }
#divNavSearchResults {  display:none;  }
img { outline:none; }
.bodyspacer {
  padding-top: 30px;
}
.smallspacer {
  padding-top: 20px;
}
#divPageTitle h1 {
  font-size: 250%;
  margin-left: auto;
  margin-right: auto;
}
#imgSpinner,.imgSpinner {
  display:none;
}
#navSpinner {
  display:none;
}
.imgSpinner,.spinner {
  display:none;
}
#spnTweetWarning {
  display:none;
  font-weight:bold !important;
  color: #f30 !important;
  text-shadow:0 0 9px #777 !important;
}
.urlinput {
  width: 400px;
}
.hourinput {
  width:30px;
}
.dropTarget {
  border:dashed green 2px;
}
#divSubscribeUpload {
  display:none;
}
.elHidden {
  display:none;
}
#divMessageBox {
  position:fixed;
  top:0;
  left:0;
  z-index:99999;
  text-align:center;
}
#messagebox {
  position:relative;
  display:block;
  width:500px;
  padding:50px 20px;
  margin-left:auto;
  margin-right:auto;
  font-size:14px;
  text-align:center;
  border-radius:2px;
}
#messagebox #btnMessageBoxClose {
  position:absolute;
  bottom:0;
  right:0;
}
.msggood {
  background:#9acd32;
  border:1px solid #006400;
  font-weight:bold !important;
  color: #006400 !important;
}
.msgwarn {
  background:#ffd700;
  border:1px solid #b8860b;
  font-weight:bold !important;
  color: #f30 !important;
}
.msgbad {
  background:#cd5c5c;
  border:1px solid #700;
  font-weight:bold !important;
  color: #700 !important;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}

  /**** Transitions ****/
  
  .transitions-enabled.masonry,
  .transitions-enabled.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
       -moz-transition-duration: 0.7s;
        -ms-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  
  .transitions-enabled.masonry {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
  }
  
  .transitions-enabled.masonry  .masonry-brick {
    -webkit-transition-property: left, right, top;
       -moz-transition-property: left, right, top;
        -ms-transition-property: left, right, top;
         -o-transition-property: left, right, top;
            transition-property: left, right, top;
  }
  
  
  /* disable transitions on container */
  .transitions-enabled.infinite-scroll.masonry {
    -webkit-transition-property: none;
       -moz-transition-property: none;
        -ms-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
  }
