body {
  padding-bottom: 40px;
  background: white url(../images/bg-body.jpg) repeat top left;
}
.aPreauthLogout {  float:right;  }
#divNavSearchResults {  display:none;  }
img { outline:none; }
#divLoginInner {
  margin:30px auto;
  width:220px;  
}
.bodyspacer {
  padding-top: 30px;
}
.smallspacer {
  padding-top: 20px;
}
.navbar-search .search-query {
  padding-left: 29px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 12px 8px;
}
.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  padding-left: 30px;
  background-position: 13px 9px;
}
#divPageTitle h1 {
  font-size: 250%;
  margin-left: auto;
  margin-right: auto;
}
#imgSpinner,.imgSpinner {
  display:none;
}
#navSpinner {
  display:none;
}
.imgSpinner,.spinner {
  display:none;
}
#spnTweetWarning {
  display:none;
  font-weight:bold !important;
  color: #f30 !important;
  text-shadow:0 0 9px #777 !important;
}
.urlinput {
  width: 400px;
}
.hourinput {
  width:30px;
}
.dropTarget {
  border:dashed green 2px;
}
#divSubscribeUpload {
  display:none;
}
.elHidden {
  display:none;
}
#divMessageBox {
  position:fixed;
  top:0;
  left:0;
  z-index:99999;
  text-align:center;
}
#messagebox {
  position:relative;
  display:block;
  width:500px;
  padding:50px 20px;
  margin-left:auto;
  margin-right:auto;
  font-size:14px;
  text-align:center;
  border-radius:2px;
}
#messagebox #btnMessageBoxClose {
  position:absolute;
  bottom:0;
  right:0;
}
.msggood {
  background:#9acd32;
  border:1px solid #006400;
  font-weight:bold !important;
  color: #006400 !important;
}
.msgwarn {
  background:#ffd700;
  border:1px solid #b8860b;
  font-weight:bold !important;
  color: #f30 !important;
}
.msgbad {
  background:#cd5c5c;
  border:1px solid #700;
  font-weight:bold !important;
  color: #700 !important;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}
