##: ----------
##: This is the crontab that runs all the Cartulary scanners.
##: It will usually be located in /etc/cron.d/cartulary in a modern debian based install.
##: ----------
MAILTO=""

*/20 * * * * root timeout 1100 php /opt/cartulary/bin/feedscan.php
*/5  * * * * root php /opt/cartulary/bin/usercheck.php
*/1  * * * * root php /opt/cartulary/bin/buildrivers.php
*/30  * * * * root php /opt/cartulary/bin/buildsysrivers.php
17   * * * * root php /opt/cartulary/bin/outlinescan.php
27   * * * * root php /opt/cartulary/bin/archive.php
48   * * * * root php /opt/cartulary/bin/syscheck.php
58   2 * * * root php /opt/cartulary/bin/backup.php

