##: ----------
##: This is the crontab that runs all the Cartulary scanners.
##: It will usually be located in /etc/cron.d/cartulary in a modern debian based install.
##:
##: |min|hour|day of month|month|day of week|
##: ----------
MAILTO=""

##: The main feed aggregator (hard timeout after t-1 minutes)
*/8 * * * * root timeout 420 php [$CONF_ROOT]/bin/feedscan.php
#0,20,40 * * * * root timeout 1100 php [$CONF_ROOT]/bin/feedpull.php
*/11 * * * * root cd [$CONF_ROOT]/aggrivate && timeout 600 node aggrivate

##: Only scan high error feeds every 6 hours
9  */6 * * * root cd [$CONF_ROOT]/aggrivate && timeout 600 node aggrivate checkall

##: The outline and list aggregator
17   * * * * root php [$CONF_ROOT]/bin/outlinescan.php

##: User upkeep
*/5  * * * * root php [$CONF_ROOT]/bin/usercheck.php

##: Server maint
*/15 * * * * root php [$CONF_ROOT]/bin/clean.php
10   3 * * * root php [$CONF_ROOT]/bin/clean_nonfqdn_feeds.php
30   3 * * * root php [$CONF_ROOT]/bin/clean_duplicate_feeds.php
50   3 * * * root php [$CONF_ROOT]/bin/clean_bad_feeds.php

##: Build main user rivers
*/5  * * * * root php [$CONF_ROOT]/bin/buildrivers.php

##: Build alternate rivers
*/20 * * * * root php [$CONF_ROOT]/bin/buildsysrivers.php

##: Check watched outlines for changes
*/30 * * * * root php [$CONF_ROOT]/bin/watchedscan.php

##: Build user-level archives
27   * * * * root php [$CONF_ROOT]/bin/archive.php

##: Server health check
48   * * * * root php [$CONF_ROOT]/bin/syscheck.php

##: Backup
58   2 * * * root php [$CONF_ROOT]/bin/backup.php

