##: ----------
##: This is the crontab that runs all the Cartulary scanners.
##: It will usually be located in /etc/cron.d/cartulary in a modern debian based install.
##:
##: |min|hour|day of month|month|day of week|
##: ----------
MAILTO=""

##: The main feed aggregator (hard timeout after 8 minutes)
0,10,20,30,40,50 * * * * root timeout 480 php /opt/cartulary/bin/feedscan.php

##: Only scan high error feeds every 6 hours
9  */6 * * * root timeout 480 php /opt/cartulary/bin/feedscan.php error

##: Only scan old feeds every 6 hours
39 */6 * * * root timeout 480 php /opt/cartulary/bin/feedscan.php old

##: The outline and list aggregator
17   * * * * root php /opt/cartulary/bin/outlinescan.php

##: User upkeep
*/5  * * * * root php /opt/cartulary/bin/usercheck.php

##: Server maint
*/15  * * * * root php /opt/cartulary/bin/clean.php

##: Build main user rivers
*/1  * * * * root php /opt/cartulary/bin/buildrivers.php

##: Build alternate rivers
*/30  * * * * root php /opt/cartulary/bin/buildsysrivers.php

##: Build user-level archives
27   * * * * root php /opt/cartulary/bin/archive.php

##: Server health check
48   * * * * root php /opt/cartulary/bin/syscheck.php

##: Backup
58   2 * * * root php /opt/cartulary/bin/backup.php

